<div class="print-cont">
    <table class="data-t">
        <thead>
            <tr>
                <th>전송일자</th>
                <th>기사님 성함</th>
                <th>차량번호</th>
                <th>연락처</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% collections.forEach(data=> { %>
                <tr>
                    <td>
                        <%= data.date.toISOString().slice(0, 10) %>
                    </td>
                    <td>
                        <%= data.성함 %>
                    </td>
                    <td>
                        <%= data.차량번호 %>
                    </td>
                    <td>
                        <%= data.연락처 %>
                    </td>
                    <td>
                        <button class="search-btn find-btn" name="find" value=<%=data.randomKey %> type="submit"> 보기
                        </button>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>