<div class="input-print-basic-info">
    <p>입고일자: <%= date %>
    </p>
    <p>차량번호: <%= data.차량번호 %>
    </p>
    <p>포워더: <%=data.포워더 %>
    </p>
    <p>기사님연락처: <%= data.연락처 %>
    </p>
</div>
<div class="input-print-table">
    <table class="input-print-table1">
        <tbody>
            <tr>
                <td>모선명</td>
                <td> XIN XIANG XUE LAN </td>
            </tr>
            <tr>
                <td>도착항</td>
                <td>
                    <%= data.도착항 %>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="input-print-table2">
        <thead>
            <tr>
                <th> 선사 </th>
                <th> 화물명 </th>
                <th> BL NO </th>
                <th> 수량 </th>
                <th> CBM </th>
                <th> 중량 </th>
            </tr>
        </thead>
        <tbody>
            <% data.화물명.forEach((el, i)=>{ %>
                <tr>
                    <td>CKF</td>
                    <td>
                        <%= el %>
                    </td>
                    <td>
                        <%=data.포장규격[i]%>
                    </td>
                    <td>
                        <%=data.수량[i]%>
                    </td>
                    <td>
                        <%=data.용적[i]%>
                    </td>
                    <td>
                        <%=data.중량[i]%>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<div class="input-print-signing">
    <p>싱기와 같이 화물을 정히 인수(인계)함</p>
    <p>
        <%= date %>
    </p>
</div>
<div class="input-print-signing">
    <p> 인수(인계)자: <%= data.성함 %>
    </p>
    <p> (서명)</p>
    <p>김수 확인: 민범기, 장창규</p>
</div>