<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <section class="cfs-cont">
        <header class="nav output-color">
            <a href="/main"><img class="nav-logo-img" src="../../img/KakaoTalk_20210531_214254921.png" alt=""></a>
            <ul class="nav-list">
                <li> <a href="/main" class="nav-link ">MAIN</a></li>
                <li> <a href="/output" class="nav-link ">출고</a></li>
                <li> <a href="/input" class="nav-link ">입고</a></li>
                <li> <a href="/output/outputdb" class="nav-link ">출고 조회</a></li>
                <li> <a href="/input/inputdb" class="nav-link ">입고 조회</a></li>
            </ul>
        </header>
        <main class="cfs-main">
            <h2>입고 조회</h2>
            <form class="search" action="/input/inputdb" method="POST" autocomplete="off">
                <div class="search-cel">
                    <label class="label" for="date">전송일자</label>
                    <input id="date" name="from" type="text" placeholder="yyyy-mm-dd">
                    <span style="margin: 0 0.8rem;"> ~ </span>
                    <input id="date" name="to" type="text" placeholder="yyyy-mm-dd">
                </div>
                <div class="search-cel">
                    <label class="label" for="name">성함</label>
                    <input id="name" name="name" type="text " placeholder="성함">
                </div>
                <div class="search-cel">
                    <label class="label" for="phoneNo">연락처</label>
                    <input id="phoneNo" type="text" name="phoneNo" placeholder="연락처">
                </div>
                <div class="search-cel">
                    <label class="label" for="carNo">차량번호</label>
                    <input type="text" name="carNo" placeholder="차량번호">
                </div>
                <div class="search-cel">
                    <button class="search-btn" name="search" value="search" type="submit"> 조회 </button>
                    <!-- <button class="pritn-btn"> 출력하기</button> -->
                </div>
            </form>
            <table class="data-t">
                <thead>
                    <tr>
                        <th>전송일자</th>
                        <th>기사님 성함</th>
                        <th>차량번호</th>
                        <th>연락처</th>
                        <th>소속회사</th>
                    </tr>
                </thead>
                <tbody>
                    <% collections.forEach(data=> { %>
                        <tr>
                            <td>
                                <%= data.date.toISOString().slice(0, 10) %>
                            </td>
                            <td>
                                <%= data._name %>
                            </td>
                            <td>
                                <%= data._carNo %>
                            </td>
                            <td>
                                <%= data._phoneNo %>
                            </td>
                            <td>
                                <%= data._company %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </main>

</body>

</html>