<div class="output-print">
  <div class="output-print-container1">
    <div class="output-print-heading">
      <img src="<%=url %>" alt="qr" />
      <h1>CFS 화물 출고증(0117)</h1>
    </div>
    <p>[보관용]</p>
    <%- include("../partials/outputPrintPart") -%>
  </div>
  <div class="output-print-container2">
    <div class="output-print-heading">
      <img src="<%=url %>" alt="qr" />
      <h1>CFS 화물 출고증(0117)</h1>
    </div>
    <p>[검수용]</p>
    <%- include("../partials/outputPrintPart") -%>
  </div>
  <div class="output-print-container3">
    <div class="output-print-heading">
      <img src="<%=url %>" alt="qr" />
      <h1>CFS 화물 출고증(0117)</h1>
    </div>
    <p>[차량용]</p>
    <%- include("../partials/outputPrintPart") -%>
  </div>
</div>

<button class="input-print-btn" onclick="window.print()">출고증인쇄</button>
