<table class="ouput-print-table">
  <thead>
    <tr>
      <th>입고일자</th>
      <th>포워더</th>
      <th>화주명</th>
      <th>BL No</th>
      <th>품명</th>
      <th>수량</th>
      <th>비고</th>
    </tr>
  </thead>
  <tbody>
    <% data.client.forEach((el, i)=>{ %>
    <tr>
      <td><%= date %></td>
      <td></td>
      <td><%= el %></td>
      <td><%=data.bl_number[i]%></td>
      <td></td>
      <td><%=data.quantity[i]%></td>
      <td></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td>관세사</td>
      <td></td>
    </tr>
    <tr>
      <td>차랑번호</td>
      <td><%=data.car_number%></td>
    </tr>
    <tr>
      <td>기사연락처</td>
      <td><%=data.contact%></td>
    </tr>
  </tbody>
</table>
