<div class="output-print-body">
  <div class="output-print-container">
    <%- include("./output-partials/heading.ejs") -%>
    <p>[보관용]</p>
    <%- include("./output-partials/table.ejs") -%>
  </div>
  <div class="output-print-container">
    <%- include("./output-partials/heading.ejs") -%>
    <p>[검수용]</p>
    <%- include("./output-partials/table.ejs") -%>
  </div>
  <div class="output-print-container">
    <%- include("./output-partials/heading.ejs") -%>
    <p>[차량용]</p>
    <%- include("./output-partials/table.ejs") -%>
  </div>
</div>
<div class="print-btn-container">
  <button class="print-btn" onclick="window.print()">출고증인쇄</button>
</div>
