<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <section class="cfs-cont">
        <header class="out-inp-header">
            <h1 class="out-inp-heading"> 출고 조회 </h1>
            <ul class="out-inp-nav">
                <li> <a href="/main" class="nav-link ">MAIN</a></li>
                <li> <a href="/output" class="nav-link ">출고</a></li>
                <li> <a href="/input" class="nav-link ">입고</a></li>
            </ul>
        </header>
        <main class="cfs-main">
            <h2>출고 조회</h2>
            <table class="search-row">
                <form action="/output/outputdb" method="POST">
                    <tbody>
                        <tr>
                            <td>
                                <input name="from" type="text" placeholder="yyyy/mm/dd">
                                <span style="margin-left: 1rem;"> ~ </span>
                            </td>
                            <td>
                                <input name="to" type="text" placeholder="yyyy/mm/dd">
                            </td>
                            <td>
                                <input name="name" type="text " placeholder="성함">
                            </td>
                            <td>
                                <input type="text" name="phoneNo" placeholder="연락처">
                            </td>
                            <td>
                                <input type="text" name="carNo" placeholder="차량번호">
                            </td>
                            <td>
                                <button class="search-btn" name="search" value="search" type="submit"> 조회 </button>
                            </td>
                            <td>
                            <td>
                                <button class="pritn-btn"> 출력하기</button>
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
            <table class="data-t">
                <thead>
                    <tr>
                        <th>전송일자</th>
                        <th>기사님 성함</th>
                        <th>차량번호</th>
                        <th>연락처</th>
                        <th>소속회사</th>
                    </tr>
                </thead>
                <tbody>
                    <% collections.forEach(data=> { %>
                        <tr>
                            <td>
                                <%= data.date.toISOString().slice(0, 10) %>
                            </td>
                            <td>
                                <%= data.name %>
                            </td>
                            <td>
                                <%= data.carNo %>
                            </td>
                            <td>
                                <%= data.phoneNo %>
                            </td>
                            <td>
                                <%= data.company %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </main>

</body>

</html>