<div class="input-print-basic-info">
  <p>
    입고일자: <%= date.getFullYear()%>-<%=
    date.getMonth().toString().padStart(2,0)%>-<%= date.getDate()%>
  </p>
  <p>기사님연락처: <%= data.contact %></p>
  <p>차량번호: <%= data.car_number %></p>
  <p>포워더: <%=data.forwarder %></p>
</div>
<div class="table_img-container">
  <table class="input-print-table">
    <tbody>
      <tr>
        <td>모선명</td>
        <td colspan="5">XIN XIANG XUE LAN</td>
      </tr>
      <tr>
        <td>도착항</td>
        <td colspan="5"><%= data.destinationPort %></td>
      </tr>
      <tr>
        <th>선사</th>
        <th>화물명</th>
        <th>BL NO</th>
        <th>수량</th>
        <th>CBM</th>
        <th>중량</th>
      </tr>
      <% data.shipper.forEach((el, i)=>{ %>
      <tr>
        <td>CKF</td>
        <td><%= el %></td>
        <td><%=data.packaging[i]%></td>
        <td><%=data.quantity[i]%></td>
        <td><%=data.volume[i]%></td>
        <td><%=data.weight[i]%></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="input-print-image">
    <img src="./../../img/input-print-image.png" alt="image" />
  </div>
</div>
<div class="input-print-signing">
  <p>
    싱기와 같이 화물을 정히 인수(인계)함<span
      ><%= date.getFullYear()%>-<%=
      date.getMonth().toString().padStart(2,0)%>-<%= date.getDate()%></span
    >
  </p>
  <p>
    인수(인계)자: <%= data.name %> <span>(서명)</span>
    <span>김수 확인: 민범기, 장창규</span>
  </p>
</div>
